body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    font-weight: 600;
    line-height: 0.44;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
}
.navbar{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
}
.navbar img{
    max-width: 150px;
}
.active-nav-link{
    color: #e96d60!important;
}

.div-img img{
    float: right;
    margin-top: 2rem;
}
.div-warum h4{
    font-weight: 600;
    text-align: left;
    color: #000000;
    font-size: 36px;
    line-height: 0.89;
    letter-spacing: -0.2px;
}
.div-warum p{
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.45;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
}
.div-warum span{
    font-size: 20px;
    line-height: 2.1;
    font-style: italic;
}
.div-Futterproben-Box h5{
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.33;
    text-align: center;
    color: #2e2e2e;
}
.expression-warum{
    background-color: #f5f5f5;
    padding: 90px 0 ;
}
.div-Futterproben-Box span{
    background-color: #e86c5f;
    color: white;
    padding-right: 5px;
}
.container-Futterproben-Box{
    padding-top: 50px;
    padding-bottom: 50px;
}
.div-premium{
    color: #333333;
}

.div-premium .block-img{
    text-align: center;
}
.div-Kostenlose .media-body{
    font-size: 18px;
    line-height: 1.25;
    text-align: left;
    color: #000000;
}
.div-premium .media-body{
    font-size: 18px;
    line-height: 1.25;
    text-align: left;
    color: #000000;
}
.assets{
    background:#27b34b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
}
.assets-1{
    background: #e86c5f!important;
}
.link_pricepremium a{
    background-image: url(../img1/Icon_price_green.png);
    width: 185px;
    height: 75px;
    background-repeat: no-repeat;
    padding: 30px 10px 30px 100px;
    text-decoration: none; 
}
.link_pricepremium{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    
}
.link_pricepremium .currency{
    color: white;
    font-size: 26px;
    position: relative;
    right: 20px;
    top: 8px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.link_pricepremium .price{
    font-size: 46px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    position: relative;
    top: 8px;
    right: 20px;
    font-family: 'Arvo', serif;
}
.link_pricepremium .price-point{
    font-size: 17px;
    color: white;
    margin-left: 5px;
    position: relative;
    top: -15px;
    right: 22px; 
    font-family: 'Arvo', serif;
}
.link_price a{
    background-image: url(../img1/Icon_price_white.png);
    width: 185px;
    height: 75px;
    background-repeat: no-repeat;
    padding: 30px 10px 30px 100px;
    text-decoration: none; 
    
}
.link_price{
    text-align: center;
    margin-top: 30px;
}
.link_price .currency{
    color: black;
    font-size: 26px;
    position: relative;
    right: 20px;
    top: 8px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    
}
.link_price .price{
    font-size: 46px;
    color: black;
    font-weight: bold;
    margin-left: 5px;
    position: relative;
    top: 8px;
    right: 20px;
    font-family: 'Arvo', serif;
}
.link_price .price-point{
    font-size: 17px;
    color: black;
    margin-left: 5px;
    position: relative;
    top: -15px;
    right: 22px; 
    font-family: 'Arvo', serif;
}
.div-Kostenlose .div-media .media p{
    font-size: 18px;
    font-style: italic;
    line-height: 1.39;
    text-align: center;
    color: #868a8b;
    margin-top: 40px;
}
.block-komentare h5{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.6;
    text-align: left;
    color: #333333;
}
.block-komentare-media .media img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}
.block-komentare-media .media .media-body{
    font-size: 16px;
    line-height: 1.63;
    text-align: justify;
    color: #9fa3a7;
}
.block-komentare-media .media .media-body span{
    position: absolute;
    right: 15px;
    top: 3px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.75;
    letter-spacing: normal;
    color: #9fa3a7;
}
.block-komentare-media .media .media-body h5{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.17;
    letter-spacing: 0.2px;
    color: #333333;
}
.media-body-border-bottom{
    border-bottom: 2px solid #e8e8e8;
    
}
.block-komentare-media .media .second-media-body span{
    top: 26px;
}
.section-comentare{
    background-color: #f5f5f5;
    padding: 50px 0;
    margin-top: 50px;
}
.section-form h4{
    font-size: 30px;
    line-height: 1.33;
    color: #000000;
}
.section-form span{
    font-size: 18px;
    line-height: 2.22;
    color: #868a8b;
}
.section-form label{
    font-size: 18px;
    line-height: 2.22;
    color: #868a8b;
    margin-top: 7px;
}
.Foto-anhängen{
    font-size: 18px!important;
    line-height: 2.2!important;
    text-align: left;
    color: #868a8b!important;
}
.Erlaubte-Dateitypen{
    font-size: 14px!important;
    line-height: 2.86!important;
    text-align: left;
    color: #868a8b;
}
.div-button button{
    width: 170px;
    height: 50px;
    border-radius: 2px;
    background-color: #c0c0c0;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 2.5;
    color: #ffffff;
    cursor: pointer;
}
.div-button span{
    font-size: 16px;
    font-style: italic;
    line-height: 2.5;
    text-align: left;
    color: #333333;
    margin-left: 15px;
   overflow: visible;
}
.div-button{
    overflow:visible;
}
.btn-kommentar{
    width: 288px;
    height: 50px;
    border-radius: 2px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    border-color: #000000;
}
.section-form{
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #e9e9e9;
}
.section-footer h6{
    font-size: 12px;
    font-weight: bold;
    line-height: 4.75;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 0;
}
.section-footer ul{
    padding-left: 0;
}
.section-footer ul li{
    list-style-type: none;
    line-height: 2.57;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #868a8b;
}
.section-footer ul li a{
    color: #868a8b;
    text-decoration: none;
}
.section-footer .div-newsletter .input-group-append span{
    border-radius: 50%;
    position: absolute;
    right: 1px;
    top: 2px;
    background: #e86659;
    z-index: 2000;
    width: 44px;
    height: 44px;
}
.section-footer .div-newsletter .form-control{
    font-size: 14px;
    line-height: 1.86;
    color: #6c6c6c;
    border-radius: 23.5px;
    background-color: #e9e9e9;
    height: 48px;
    border: none;
    padding-right: 50px;
}
.section-footer{
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-footer .border-bottom{
    border-bottom: 1px solid  rgba(192,192,192,0.7);
    
}
.section-footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
    color: #868a8b;
    padding-top: 25px;
    margin-bottom: 0;
}
.col-uber-1{
    margin: auto;
    text-align: center;
}
.col-uber-2{
    margin: auto;
    text-align: center;
}
.circle-uber{
    background: #00ce0f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.row-uber-1{
    background-color: #ffffff;
    box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.03);
    padding: 35px 0 25px 0;
    margin-bottom: 20px;
    margin-top: 70px;
}
.row-uber-2{
    background-color: #26b400;
    box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.03);
    padding: 35px 0 25px 0;
    margin-bottom: 70px;
}
.row-uber-2 p{
    color: white;
    
}
.row-uber-2 h6{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.row-uber-2 p{
}
.row-uber-1 h6{
    font-weight: bold;
    font-size: 20px;
}
.row-uber-1 p{
}
.section-uber{
    background-color: #f5f5f5;
    
    margin-top: 50px;
}
/*.div-premium .div-media .media{
    padding-left: 15%;
    padding-right: 15%;
}*/
/*.div-Kostenlose .div-media .media{
    padding-left: 15%;
    padding-right: 15%;
}*/

.div-Kostenlose h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #333333;
}
.div-premium h3{
    font-size: 28x;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #333333;
}
.div-premium h3 span{
    color: #e86c5f;

}
.pt-10{
    padding-top: 10px;
}
.bg-futterproben{
    background-color: #f5f5f5;
}
.circle-img-uber2{
    background-image:url(../img1/elipse.png);
    background-repeat: no-repeat;
    background-position: center; 
}
.circle-img-uber1{
    background-image:url(../img1/elipse1.png);
    background-repeat: no-repeat;
    background-position: center; 
}
.circle-img-uber2 img{
    padding-top: 15px;
    padding-bottom: 15px;
}
.circle-img-uber1 img{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 5px;
}
.form-futercheck .label-name mark{
    color: #e86c5f;
}
.form-futercheck .label-email mark{
    color: #e86c5f;
}
mark{
    background: transparent;
    padding: 0;
}
.label-textarea{
    resize: none;
    height: 170px;
    border-radius: 2px!important;
    border: solid 1px #e1e1e1!important;
}
.input-form{
    height: 50px;
    border-radius: 2px!important;
    border: solid 1px #e1e1e1!important;
}
.img-logo-footer{
    padding-top: 10px;
    filter: grayscale(100%);
    max-width: 150px;
}

input[type="file"] {
    display: none;
}
.choose-file-upload {
    display: inline-block;
    width: 170px;
    height: 50px;
    border-radius: 2px;
    background-color: #c0c0c0;
    border: 1px solid #e1e1e1;
    font-size: 16px!important;
    line-height: 2.9!important;
    color: #ffffff!important;
    text-align: center;
}
.section-Kostenloser h4{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1a1a1a;
}
.section-Kostenloser{
    background-image: url(../img1/Cat_Dog.png);
    padding-top: 65px;
    padding-bottom: 100px;
}
.section-instagram h4{
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.33;
    text-align: center;
    color: #2c2c2c; 
    margin-top: 50px;
}
.section-instagram h4 mark{
    background: #e86c5f;
    color: white;
    padding-right: 5px;
}
.div-premium .div-media{
    padding-left: 60px;
    padding-right: 60px;
}
.div-Kostenlose .div-media{
    padding-left: 60px;
    padding-right: 60px;
}
.img-dog{
    position: relative;
    max-width: 110%;
}
#custom-button {
    width: 170px;
    height: 50px;
    border-radius: 2px;
    background-color: #c0c0c0;
    border: 1px solid #e1e1e1;
    font-size: 16px!important;
    line-height: 2.9!important;
    color: #ffffff!important;
    text-align: center;
}
.custom-button:focus,.custom-button:active {
   outline: none !important;
   box-shadow: none;
}
.div-suggestions{
    padding-left: 4%;
    padding-right: 4%;
}


.section-search .search-group{
    max-width: 550px;
}
.search-form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.search-form-group label{
    margin-bottom: 0;
    font-size: 20px;
    margin-right: 30px;
    flex-shrink: 0;
}
.section-search{
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    padding: 10px 0;
}
.search-form-group .search-group .form-control{
    border: 1px solid #e1e1e1;
    padding: 10px 42px 10px 20px;
    font-size: 12px;
    font-style: italic;
}
.search-group input:focus {
    border: 1px solid #e1e1e1 !important;
    box-shadow: 0 0 0px #e1e1e1 !important;
    -moz-box-shadow: 0 0 0px #e1e1e1 !important;
    -webkit-box-shadow: 0 0 0px #e1e1e1 !important;
}

.search-group input:focus {
    outline-offset: 0px !important;
    outline: none !important;
}
.breadcrumb-item+.breadcrumb-item::before{
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: ">";
}
.mail-content .breadcrumb{
    background: transparent;
    border-radius: 0;
    color: #c4c4c4;
    font-size: 12px;
    padding: 10px 0;
    margin: 0;
    overflow: hidden
}
.mail-content .breadcrumb-item a {
    color: #7d7d7d;
}
.mail-content .breadcrumb-item .start-breadcrumb{
    font-weight: bold;
}
.mail-content .breadcrumb-item a:hover{
    text-decoration: none;
}
.mail-content .active a{
    cursor: text;
}
.mail-content h1{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.1;
    text-align: left;
    color: #000000;
    margin-top: 35px;
    margin-bottom: 30px;
}
.col-gutchein .div-rabatt{
    
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
    padding: 20px;
}
.col-gutchein{
    border-radius: 2px;
    border: solid 1px #e1e1e1;
}
.col-gutchein mark{
    color: #e96d60;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
}
.col-moin{
    text-align: center;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 25px;
}
.col-moin h2{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    line-height: 1.33;
}
.col-moin p{
    text-align: left;
    line-height: 1.58;
    font-size: 16px;
}
.mark-page-coutom{
    font-weight: 600;
    color: #e96d60;
}
.col-moin a{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;
}
.btn-gutschein{
    border-radius: 2px;
    background-color: #26b400;
    color: #ffffff;
    width: 100%;
}
.div-btn-gutschein h2{
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}
.div-btn-gutschein{
    padding: 20px;
}
.mt-30-coupon{
    margin-top:30px;
}
.mb-60-coupon{
    margin-bottom: 60px;
}
.img-asets-pensel{
    padding-right: 10px;
}
.modal-header-coupon{
    display: inline-block;
    text-align: center;
    padding-top: 8px;
}
.img-modal-tails{
    margin-top: 15px;
}
.modal-header-coupon h1{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 15px 0 0px 0;
}
.modal-header-coupon .span_Futtercheck{
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
.modal-header-coupon .btn-liebesgut-modal{
    font-size: 14px;
    color: #ffffff;
    padding: 6px 0;
    background: #26b400;
    border: none;
    width: 100%;
}

.modal-form-control{
    border-style: dashed;
    background-color: #f5f5f5!important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.group-apend-span{
    border-style: dashed;
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.group-apend-span:before{
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: 189px;
    top: -7px;
}
.group-apend-span:after{
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: 189px;
    bottom: -7px;
}
.modal-content .footer h2{
    font-size: 13px;
    margin-bottom: 0;
}
.modal-content .footer p{
    font-size: 13px;
    margin-bottom: 0;
}
.modal-content .footer{
    padding: 20px 10px 40px 10px;
    background-color: #f5f5f5;
}
.modal{
    padding-right: 0!important;
}
.content-body{
    max-width: 250px;
    display: inline-block;
    margin-top: 20px;
}
.close{
    font-weight: 500;
}
.modal.show .modal-dialog{
    margin-top: 200px;
}
.mt-for-coupon{
   margin-top: 60px; 
}
.timer table{
    width: auto;
    max-width: 690px;
    display: inline-block;
}
.timer{
    text-align: center;
}
.timer table td{
    padding: 50px 0 0 0 ;
    border: 0;
}
.timer table .tr-time span{
    color: #e96d60;
    font-size: 30px;
    border-radius: 4px;
    background-color: #e9e9e9;
    padding: 5px 15px;
    
}
.two-handed{
    font-size: 26px;
    color: #949494!important;
    background-color: transparent!important;
    padding: 0;
}
.first-num-tage{
    margin-right: 5px;
}
.first-num-stunden{
    margin-right: 5px;
}
.first-num-minuten{
    margin-right: 5px;
}
.first-num-sekunden{
    margin-right: 5px;
}
.tr-name-time td{
    color: #020202;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px!important;
}
.timer p{
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 50px;
}




















@media (min-width: 320px) and (max-width: 340px){
    .div-premium .div-media{
        padding-left: 15px;
        padding-right: 15px;
    }
    .pd-sm-screen{
        padding-left: 5px;
        padding-right: 5px;
    }
    .div-Kostenlose .div-media{
       padding-left: 15px;
        padding-right: 15px; 
    }
    
}


@media (min-width: 535px) and (max-width: 580px){
   .timer table .tr-time span{
        font-size: 25px;
    }
}
@media (min-width: 439px) and (max-width: 534px){
   .timer table .tr-time span{
        font-size: 20px;
    }
    .timer table .tr-time span{
        padding: 5px 12px;
    }
    .tr-name-time td{
        font-size: 12px;
    }
}
@media (min-width: 371px) and (max-width: 439px){
   .timer table .tr-time span{
        font-size: 15px;
    }
    .timer table .tr-time span{
        padding: 5px 10px;
    }
    .tr-name-time td{
        font-size: 10px;
    }
}
@media (min-width: 320px) and (max-width: 370px){
   .timer table .tr-time span{
        font-size: 13px;
    }
    .timer table .tr-time span{
        padding: 5px 8px;
    }
    .tr-name-time td{
        font-size: 8px;
    }
    .timer p{
        font-size: 8px!important;;
    }
}



@media (min-width: 341px) and (max-width: 380px){
    .div-premium .div-media{
        padding-left: 15px;
        padding-right: 15px;
    }
    .pd-sm-screen{
        padding-left: 15px;
        padding-right: 15px;
    }
    .div-Kostenlose .div-media{
       padding-left: 15px;
        padding-right: 15px; 
    }
    
}
@media (min-width: 381px) and (max-width: 480px){
    .div-premium .div-media{
        padding-left: 30px;
        padding-right: 30px;
    }
    .pd-sm-screen{
        padding-left: 15px;
        padding-right: 15px;
    }
    .div-Kostenlose .div-media{
       padding-left: 30px;
        padding-right: 30px; 
    }
    
}




@media (min-width: 320px) and (max-width: 576px){
    .m-img-gutchein{
        margin: auto;
    } 
}

@media (min-width: 320px) and (max-width: 767.98px) { 
    .div-img img{
        float: none;
        padding-bottom: 30px;
        margin-top: 0;
    }
    .div-img{
        text-align: center;
    }
    .div-warum h4{
        text-align: center!important;
    }
    .div-warum p{
        text-align: center!important;
    }
    .div-warum{
        text-align: center;
    }
    .container-warum{
        text-align: center;
        padding-top: 30px;
    }
    
    .div-premium{
        margin-top: 15px;
    }
    .div-Kostenlose h3{
        font-size: 29px;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        color: #333333;
        padding-top: 15px!important;
        margin: 0!important;
        padding-bottom: 30px!important;
        
    }
    .div-Kostenlose .div-media .media p{
        font-size: 16px;
    }
    .div-premium h3{
        padding-top: 15px!important;
        margin: 0!important;
        padding-bottom: 30px!important;
        
    }
   
    .bg-futterproben{
        padding-bottom: 30px!important;
    }
    .dn-sm{
        display: none;
    }
    .p-sm{
        padding: 0;
    }
    .btn-kommentar{
        width: 100%;
        font-size: 15px;
        margin-top: 40px!important;
    }
    .row-uber-1{
        text-align: center;
    }
    .row-uber-2{
        text-align: center;
    }
    /*.col-uber-1 img{
        padding-top: 10px;
        padding-bottom: 20px;
    }*/
   /* .col-uber-2 img{
        padding-top: 10px;
        padding-bottom: 20px;
    } */
    .text-center-sm{
        text-align: center;
    }
    .row-uber-2 h6{
        margin-top: 20px;
    }
    .row-uber-1 h6{
        margin-top: 20px;
    }
    .block-komentare h5{
        font-size: 22px;
        line-height: 1.33;
    }
    .section-form h4{
        font-size: 22px;
        padding-bottom: 10px;
    }
    .section-form span{
        line-height: 1.5!important;
        padding-top: 10px;
        font-size: 16px;
    }
    .row-uber-1{
        margin-top: 40px;
    }
    .row-uber-2{
        margin-bottom: 0;
    }
    .section-uber .img-dog{
        position: relative;
        bottom: 10px;
    }
    .assets{
        margin-right: 15px!important;
    }
    .div-premium .media-body{
        font-size: 16px;
    }
    .div-Kostenlose .media-body{
        font-size: 16px;
    }
    .section-uber{
        margin-top: 30px;
    }
    .section-form{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .mb-0{
        margin-bottom: 0;
    }
    .div-img-logo-footer{
        text-align: center;
    }
    .div-button span{
        font-size: 13px;
    }
    .expression-warum{
        padding: 50px 0;
    }
    .section-Kostenloser{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .section-instagram h4{
        font-size: 20px;
    }
    .section-comentare{
        margin-top: 30px;
    }
    .section-Kostenloser h4{
        font-size: 30px;
    }
    .div-warum p{
        font-size: 16px;
        line-height: 1.56;
    }
    .div-warum h4{
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 1.26;
    }
    .div-warum span{
        font-size: 16px;
    }
    .img-dog{
        position: relative;
        max-width: 100%;
    }
    .div-button{
        margin-top: 10px;
    }
    .class-analyse{
        padding-top: .25rem!important;
    }
    .div-btn-gutschein {
        padding: 20px 0;
    }
    .col-gutchein .div-rabatt{
        padding-left: 0;
        padding-right: 0;
    }
    .col-gutchein mark {
        font-size: 16px;
    }
    .col-gutchein .div-rabatt img {
        max-width: 60%;
    }
    .col-gutchein .div-rabatt .img-asset {
    padding: 0 10px 0 15px;
    }
    .modal-content .footer h2{
        margin-top: 20px;
    }
    .mail-content h1{
        font-size: 21px;
        font-weight: 100;
        margin-top: 5px;
    }
    
    .mb-30-coupon{
        margin-bottom: 30px;
    }
    .timer table td{
        padding: 0;
    }
    .timer p{
        margin-bottom: 25px;
        font-size: 11px;
    }
    .timer table{
        margin-bottom: 0!important;
    }
    }
}


@media (max-width: 575px){
    .mt-30-sm-screen{
        margin-top: 30px;
    }
    .modal.show .modal-dialog{
        margin-top: 80px;
    }
}

@media (min-width: 576px){
    .search-form-group{
        flex-flow: row nowrap;
        margin-bottom: 0;
    }
}
@media (min-width: 576px){
   .modal-dialog {
        max-width: 630px;
    }
    
}



@media (min-width: 767.99px){
    .dn-lg{
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 992px){
    .col-moin{
        margin-top: 30px;
    }
}

@media (min-width: 767.98px) and (max-width: 992px){
    .div-premium .div-media{
        padding-left: 15px;
        padding-right: 15px;
    }
    .div-Kostenlose .div-media{
       padding-left: 15px;
        padding-right: 15px; 
    }
    .col-gutchein mark{
        font-size: 16px;
    }
    .col-gutchein .div-rabatt img{
        max-width: 65%;
    }
    .col-gutchein .div-rabatt .img-asset{
        padding: 0 10px;
    }
    .div-btn-gutschein {
        padding: 20px 0;
    }
    .col-gutchein .div-rabatt{
        padding-left: 0;
        padding-right: 0;
    }
    .timer table td{
        padding: 4px 0 0 0;
    }
    .timer p{
        margin-bottom: 25px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .div-premium .div-media {
        padding-left: 30px;
        padding-right: 30px;
    }
    .div-Kostenlose .div-media{
        padding-left: 30px;
        padding-right: 30px; 
    }
}
    
   
/*@media (min-width: 320px) and (max-width: 420px){
   .div-premium .div-media .media{
        padding-left: 7%;
        padding-right: 7%;
    } 
    .div-Kostenlose .div-media .media{
        padding-left: 7%;
        padding-right: 7%;
    } 
}
@media (min-width: 421px) and (max-width: 520px){
   .div-premium .div-media .media{
        padding-left: 9%;
        padding-right: 9%;
    } 
    .div-Kostenlose .div-media .media{
        padding-left: 9%;
        padding-right: 9%;
    } 
}*/
@media (min-width: 767.98px) and (max-width: 1050px){
   .col-uber-2{
        padding: 0;
    } 
    
}

